 <!-- About Section Start -->
    <section class="about-section fix section-padding pt-0">
        <div class="container">
            <div class="about-wrapper">
                <div class="row g-4 align-items-center">
                    <div class="col-lg-6">
                        <div class="about-img fix">
                              <source srcset="assets/img/about/Frame.webp" type="image/webp">
                            <img src="assets/img/about/Frame.png" alt="img">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-content">
                            <div class="section-title mb-0">
                                <span appScrollAnimate>{{'ABOUTSEC.Aboutsecheading'| translate}}</span>
                                <h2  appCharAnimation>{{'ABOUTSEC.Aboutsecsubheading'| translate}}</h2>
                            </div>
                            <p class="about-text wow   appScrollAnimate" data-wow-delay=".4s">{{'ABOUTSEC.Aboutsecdis'| translate}}</p>
                            <div class="icon-items wow   appScrollAnimate" data-wow-delay=".2s">
                                
                                <div class="content">
                                    <h3><i class="flaticon-check"></i> {{'ABOUTSEC.Aboutsecsubtitle'| translate}}</h3>
                                    <p>{{'ABOUTSEC.Aboutsecsubtitlecnt'| translate}}</p>
                                </div>
                                 <div class="content">
                                    <h3><i class="flaticon-check"></i> {{'ABOUTSEC.Aboutsecsubtitle1'| translate}}</h3>
                                    <p> {{'ABOUTSEC.Aboutsecsubtitlecnt1'| translate}}</p>
                                </div>
                            </div>
                         <p class="about-text wow appScrollAnimate" data-wow-delay=".4s">
                            {{'ABOUTSEC.Aboutsecdisc'| translate}}
                         </p>

                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>