<app-servicebanner></app-servicebanner>

    <!--Brand Building Section Start -->
    <section class="service-detaile-section section-padding fix">
        <div class="container">
            <div class="service-details-wrapper">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="service-details-content">
                            <h3 class="mt-3">Marketing Automation & Strategy Services</h3>
                            <p class="mt-2 wow fadeInUp" data-wow-delay=".2s">
                                Modern businesses grow faster when their marketing runs smart, automated, and strategically optimized. At Bhiive, we provide powerful Marketing Automation & Strategy services that help you streamline processes, nurture leads, and convert customers more efficiently                            </p>
                            <p class="mt-2 wow fadeInUp" data-wow-delay=".2s">
                                As a leading marketing strategy agency in Chennai, we create automated workflows, audience journeys, and data-driven strategies that increase efficiency, reduce manual work, and boost sales performance.
                            </p>
                            <p class="mt-2 wow fadeInUp" data-wow-delay=".2s">
                                Our solutions combine CRM automation, email marketing automation, funnel building, analytics, and customer segmentation—so your marketing runs 24/7, even when you’re not online.                            </p>
                            <h3 class="mt-3">Why Your Business Needs Digital Marketing</h3>
                            <p class="mt-3 wow fadeInUp" data-wow-delay=".3s">
                                The way customers search, buy, and interact with brands has changed. Without a strong online marketing strategy, businesses risk losing customers to competitors.
                            </p>
                            <div class="row g-4">
                                <h3 class="mt-5">Our Marketing Automation & Strategy Service</h3>
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay=".4s">
                                    <div class="icon-box-items mt-2 gap-2">
                                        <div class="icon-box">
                                            <i class="far fa-check-circle fs-3"></i>
                                        </div>
                                        <div class="icon-contnet">
                                            <h3>Marketing Strategy Development</h3>
                                            <p>
                                                We build a strong and clear roadmap for your business growth.
                                            </p>
                                             
                                            <ul class="brandingul">
                                                <li>Competitor & market analysis</li>
                                                <li>Brand positioning and messaging strategy</li>
                                                <li>Multi-platform marketing roadmap</li>
                                                <li>Customer segmentation & targeting</li>
                                                <li>Funnel mapping for lead generation</li>
                                                <li>Performance tracking & optimization plan</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay=".5s">
                                      <div class="icon-box-items mt-2 gap-2">
                                        <div class="icon-box">
                                            <i class="far fa-check-circle fs-3"></i>
                                        </div>
                                        <div class="icon-contnet">
                                            <h3> Marketing Automation Setup</h3>
                                            <p>
                                                We automate your marketing to save time and improve conversion.
                                            </p>
                                            
                                            <ul class="brandingul">
                                                <li>CRM integration (HubSpot, Zoho, Salesforce, Mailchimp CRM, etc.)</li>
                                                <li>Automated follow-up sequences</li>
                                                <li>Lead scoring & customer segmentation</li>
                                                <li>Automated response workflows</li>
                                                <li>Behavior-based triggers for personalized communication</li>
                                            </ul>
                                            
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay=".7s">
                                     <div class="icon-box-items mt-2 gap-2">
                                        <div class="icon-box">
                                            <i class="far fa-check-circle fs-3"></i>
                                        </div>
                                        <div class="icon-contnet">
                                            <h3>Email & WhatsApp Automation</h3>
                                            <p>
                                                Build meaningful relationships with your customers through targeted automation.
                                            </p>
                                            
                                            <ul class="brandingul">
                                                <li>Automated welcome emails</li>
                                                <li>Drip email campaigns</li>
                                                <li>Broadcast email campaigns</li>
                                                <li>WhatsApp lead nurturing</li>
                                                <li>Abandoned cart automation</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay=".7s">
                                     <div class="icon-box-items mt-2 gap-2">
                                        <div class="icon-box">
                                            <i class="far fa-check-circle fs-3"></i>
                                        </div>
                                        <div class="icon-contnet">
                                            <h3>Analytics, Tracking & Optimization</h3>
                                            <p>
                                               We track user behavior to improve strategy and automation performance.
                                            </p>

                                            <ul class="brandingul">
                                                <li>Funnel analytics</li>
                                                <li>CRM reports</li>
                                                <li>Email performance tracking</li>
                                                <li>User behavior analysis</li>
                                                <li>Campaign optimization insights</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="how-title char-animation">Why Your Business Needs Marketing Automation</h3>
                            <div class="icon-box-items gap-1 mt-2">
                                <div class="icon-box">
                                    <i class="fa fa-check fs-5"></i>
                                </div>
                                <div class="icon-contnet">
                                    <h3 class="fw-normal">Convert leads faster through automated nurturing</h3>
                                </div>
                            </div>
                           <div class="icon-box-items mt-0 gap-1">
                                <div class="icon-box">
                                    <i class="fa fa-check fs-5"></i>
                                </div>
                                <div class="icon-contnet">
                                    <h3 class="fw-normal">Improve customer retention with personalized communication</h3>
                                </div>
                            </div>
                             <div class="icon-box-items mt-0 gap-1">
                                <div class="icon-box">
                                    <i class="fa fa-check fs-5"></i>
                                </div>
                                <div class="icon-contnet">
                                    <h3 class="fw-normal">Reduce manual tasks & save marketing hours</h3>
                                </div>
                            </div>
                           <div class="icon-box-items mt-0 gap-1">
                                <div class="icon-box">
                                    <i class="fa fa-check fs-5"></i>
                                </div>
                                <div class="icon-contnet">
                                    <h3 class="fw-normal">Track user behavior and optimize every stage of the funnel</h3>
                                </div>
                            </div>
                             <div class="icon-box-items mt-0 gap-1">
                                <div class="icon-box">
                                    <i class="fa fa-check fs-5"></i>
                                </div>
                                <div class="icon-contnet">
                                    <h3 class="fw-normal">Increase sales with automated email & WhatsApp workflows</h3>
                                </div>
                            </div>
                           

                            <h4 class="how-title char-animation">FAQs</h4>
                            <div class="icon-box-items gap-1 mt-2">
                                <div class="icon-contnet">
                                    <h3 class="fw-normal">1.What platforms do you use for marketing automation?</h3>
                                    <p>
                                        We work with HubSpot, Zoho CRM, Salesforce, Mailchimp, ActiveCampaign, Zapier, and more.
                                    </p>
                                </div>
                            </div>
                            <div class="icon-box-items gap-1 mt-2">
                                <div class="icon-contnet">
                                    <h3 class="fw-normal">2.Can automation help my small business?</h3>
                                    <p>
                                       Yes! Marketing automation is extremely effective for small businesses looking to save time and grow leads.
                                    </p>
                                </div>
                            </div>
                            <div class="icon-box-items gap-1 mt-2">
                                <div class="icon-contnet">
                                    <h3 class="fw-normal">3.Do you create complete sales funnels?</h3>
                                    <p>
                                        Yes, we build full funnels including landing pages, lead captures, nurturing sequences, and analytics.
                                     </p>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-4">
                    <app-sidebarsec></app-sidebarsec>
                    </div>
                </div>
            </div>
        </div>
    </section>