
    <!-- Service Section Start -->
    <section class="service-section-solve fix section-padding" style="background-image: url('assets/img/service/service-bg.jpg');">
        <div class="container">
            <div class="section-title text-center">
                <span class="wow fadeInUp">What We Do </span>
                <h2 class="text-white char-animation">The Perfect Services <br> We're Offering</h2>
            </div>
            <div class="row g-0">
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                    <div class="service-card-items border-radius-style">
                        <div class="service-icon">
                            <img src="assets/img/service/icon-01.png" alt="img">
                        </div>
                        <div class="service-content">
                            <h3><a href="/services">Website Development</a></h3>
                            <p>Your website is the digital face of your brand — and a powerful tool to attract customers, build trust, and drive business growth...</p>
                            <a href="/services" class="link-btn">More Details
                                <i class="far fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                    <div class="service-card-items bg-1">
                        <div class="service-icon">
                            <img src="assets/img/service/icon-02.png" alt="img">
                        </div>
                        <div class="service-content">
                            <h3><a href="/services">Digital Marketing</a></h3>
                            <p>In today’s digital-first world, your online presence defines your business success. At Bhiive Digi Tech, a results-driven digital marketing agency...</p>
                            <a href="service-details.php" class="link-btn">More Details
                                <i class="far fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                    <div class="service-card-items bg-2">
                        <div class="service-icon">
                            <img src="assets/img/service/icon-03.png" alt="img">
                        </div>
                        <div class="service-content">
                            <h3><a href="/services">Paid Marketing</a></h3>
                            <p>In today's fast-paced digital market, waiting for customers to find you isn't an option. You need to reach them precisely when they are searching ...</p>
                            <a href="/services" class="link-btn">More Details
                                <i class="far fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                    <div class="service-card-items bg-3">
                        <div class="service-icon">
                            <img src="assets/img/service/icon-04.png" alt="img">
                        </div>
                        <div class="service-content">
                            <h3><a href="/services">Brand Building</a></h3>
                            <p>Your brand is the foundation of your business identity. At Bhiive Digi Tech, we offer comprehensive brand building services...</p>
                            <a href="/services" class="link-btn">More Details
                                <i class="far fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
