
    <!-- Service Section Start -->
    <section class="service-section-solve fix section-padding" style="background-image: url('assets/img/service/service-bg.jpg');">
        <div class="container">
            <div class="section-title text-center">
                <span class="wow fadeInUp">What We Do </span>
                <h2 class="text-white char-animation">The Perfect Services <br> We're Offering</h2>
            </div>
            <div class="row g-0">
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s" *ngFor="let service of services">
                    <div  [ngClass]="service.cardClass">
                        <div class="service-icon">
                           <img [src]="service.img"
                            [alt]="service.title + ' – Bhiive service'"
                            loading="lazy" width="60" height="60">
                        </div>
                        <div class="service-content">
                            <h3><a [routerLink]="'/services'">{{service.title}}</a></h3>
                             <p> {{ service.description | lineclamp:40:3 }}</p>
                            <a [routerLink]="'/services'" class="link-btn">More Details
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
