  <app-servicebanner></app-servicebanner>
    <!--<< Blog Wrapper Here >>-->
     <section class="blog-wrapper section-padding">
        <div class="container">
            <div class="news-area">
                <div class="row">
                    <div class="col-12 col-lg-12">

                        <div class="blog-spinner-wrap text-center" *ngIf="loading">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>

                        <div class="row" *ngIf="!loading">
                            <div class="col-lg-4 col-md-4 col-12 ps-2 mb-4" *ngFor="let blog of pagedBlogs">
                        <div class="card">
                        <img [src]="blog.image" class="card-img-top" alt="..." height="250px">
                        <div class="card-body">
                             <h4>{{blog.title}}</h4>
                            <p class="card-text">{{blog.intro}}</p>
                             <button class="btn btn-primary" [routerLink]="['/blog', blog.slug]">
                            Read Details
                            </button>
                        </div>
                        </div>
                        </div>
                            </div>

                        <div class="page-nav-wrap text-center" *ngIf="!loading && totalPages > 1">
                            <ul>
                                <li [class.disabled]="currentPage === 1">
                                    <a class="page-numbers" href="javascript:void(0)" (click)="goToPage(currentPage - 1)">
                                        <i class="fa fa-long-arrow-left"></i></a>
                                </li>
                                <li *ngFor="let p of pages" [class.active]="p === currentPage">
                                    <a class="page-numbers" href="javascript:void(0)" (click)="goToPage(p)">{{p < 10 ? '0' + p : p}}</a>
                                </li>
                                <li [class.disabled]="currentPage === totalPages">
                                    <a class="page-numbers" href="javascript:void(0)" (click)="goToPage(currentPage + 1)">
                                        <i class="fa fa-long-arrow-right"></i></a>
                                </li>
                            </ul>
                        </div>

                </div>
            </div>
        </div>
        </div>
    </section>
 