  <app-servicebanner></app-servicebanner>
    <!--<< Blog Wrapper Here >>-->
     <section class="blog-wrapper section-padding">
        <div class="container">
            <div class="news-area">
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12 ps-2 mb-4" *ngFor="let blog of blogs">
                        <div class="card">
                        <img [src]="blog.image" class="card-img-top" alt="..." height="250px">
                        <div class="card-body">
                             <h4>{{blog.title}}</h4>
                            <p class="card-text">{{blog.intro}}</p>
                             <button class="btn btn-primary" [routerLink]="['/blog', blog.slug]">
                            Read Details
                            </button>
                        </div>
                        </div>
                        </div>
                            </div>
                       
                        <div class="page-nav-wrap text-center">
                            <ul>
                                <li><a class="page-numbers" href="#">01</a></li>
                                <li><a class="page-numbers" href="#">02</a></li>
                                <li><a class="page-numbers" href="#">03</a></li>
                                <li class="active"><a class="page-numbers" href="#">
                                    <i class="fa fa-long-arrow-right"></i></a></li>
                            </ul>
                        </div>
                 
                </div>
            </div>
        </div>
        </div>
    </section> 
 