<app-servicebanner></app-servicebanner>


<section class="blog-wrapper section-padding">
  <div class="container">
    <div class="news-area">
      <div class="row">

        <!-- Blog Content -->
        <div class="col-12 col-lg-8">
          <div class="blog-post-details border-wrap mt-0">
            <div class="single-blog-post post-details mt-0">

              <div class="post-content pt-0">

                <!-- Title -->
                <h2 class="mt-0 char-animation">
                  {{ blogData?.title }}
                </h2>

                <!-- Intro -->
                <p class="wow fadeInUp" data-wow-delay=".3s">
                  {{ blogData?.intro }}
                </p>

                <!-- Blog Image -->
                <img
                  [src]="blogData?.image"
                  alt="blog image"
                  class="single-post-image wow fadeInUp"
                />

                <!-- Blog Sections -->
                <div *ngFor="let section of blogData?.sections">

                  <h4 class="char-animation mt-4">
                    {{ section.heading }}
                  </h4>

                  <p class="mt-2">
                    {{ section.description }}
                  </p>

                  <ul class="checked-list mb-4">
                    <li *ngFor="let point of section.points">
                      <i class="fa fa-check fs-5"></i>
                      {{ point }}
                    </li>
                  </ul>
                     <p class="mt-2">
                    {{ section.note }}
                  </p>
                     <h4 class="wow fadeInUp mt-3" data-wow-delay=".2s">Final Thoughts</h4>
                      <p class="mt-2">
                    {{ blogData?.conclusion }}
                  </p>
                </div>

              </div>
            </div>

            <!-- Social Share -->
            <div class="row tag-share-wrap">
              <div class="col-lg-8 col-12"></div>

              <div class="col-lg-4 col-12 text-lg-end">
                <h4>Social Share</h4>
                <div class="social-share">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                  <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
              </div>
            </div>

            <!-- Comments -->
            <app-post-comment></app-post-comment>

          </div>
        </div>

        <!-- Sidebar -->
        <div class="col-12 col-lg-4">
          <div class="main-sidebar">

            <!-- Search -->
            <div class="single-sidebar-widget">
              <div class="wid-title">
                <h3>Search</h3>
              </div>

              <div class="search_widget">
                <form>
                  <input type="text" placeholder="Keywords here....">
                  <button type="submit">
                    <i class="fal fa-search"></i>
                  </button>
                </form>
              </div>
            </div>

            <!-- Recent News -->
            <div class="single-sidebar-widget">
              <div class="wid-title">
                <h3>Recent News</h3>
              </div>

              <div class="popular-posts">

                <!-- <div
                  class="single-post-item"
                  *ngFor="let post of recentBlogs"
                >

                  <div
                    class="thumb bg-cover"
                    [style.background-image]="'url(' + post.image + ')'"
                  ></div>

                  <div class="post-content">
                    <h5>
                      <a [routerLink]="['/blog', post.slug]">
                        {{ post.title }}
                      </a>
                    </h5>

                    <div class="post-date">
                      <i class="far fa-calendar"></i>
                      {{ post.date }}
                    </div>
                  </div>

                </div> -->

              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>