<app-servicebanner></app-servicebanner>


<section class="blog-wrapper section-padding">
  <div class="container">
    <div class="news-area">
      <div class="row">

        <!-- Blog Content -->
        <div class="col-12 col-lg-8">
          <div class="blog-post-details border-wrap mt-0">
            <div class="single-blog-post post-details mt-0">

              <div class="post-content pt-0">

                <!-- Title -->
                <h2 class="mt-0 char-animation">
                  {{ blogData?.title }}
                </h2>

                <!-- Blog Image -->
                <img
                  [src]="blogData?.image"
                  alt="blog image"
                  class="single-post-image wow fadeInUp"
                />

                <!-- Blog Body (rendered from Strapi rich text) -->
                <div class="post-body" [innerHTML]="blogData?.contentHtml"></div>
              </div>
            </div>

            <!-- Social Share -->
            <div class="row tag-share-wrap">
              <div class="col-lg-8 col-12"></div>

              <div class="col-lg-4 col-12 text-lg-end">
                <h4>Social Share</h4>
                <div class="social-share">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                  <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
              </div>
            </div>

            <!-- Comments -->
            <app-post-comment></app-post-comment>

          </div>
        </div>

        <!-- Sidebar -->
        <div class="col-12 col-lg-4">
          <div class="main-sidebar">

            <!-- Search -->
            <div class="single-sidebar-widget">
              <div class="wid-title">
                <h3>Get a Quote</h3>
              </div>

              <div class="">
                <app-blogform></app-blogform>
              </div>
            </div>

            <!-- Recent News -->
            <div class="single-sidebar-widget">
              <div class="wid-title">
                <h3>Recent News</h3>
              </div>

              <div class="popular-posts">

                <!-- <div
                  class="single-post-item"
                  *ngFor="let post of recentBlogs"
                >

                  <div
                    class="thumb bg-cover"
                    [style.background-image]="'url(' + post.image + ')'"
                  ></div>

                  <div class="post-content">
                    <h5>
                      <a [routerLink]="['/blog', post.slug]">
                        {{ post.title }}
                      </a>
                    </h5>

                    <div class="post-date">
                      <i class="far fa-calendar"></i>
                      {{ post.date }}
                    </div>
                  </div>

                </div> -->

              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>