<app-servicebanner></app-servicebanner>
    <!-- Service Section Start -->
    <section class="service-section-2 section-padding fix">
        <div class="container">
            <div class="section-title text-center">
                <span class="wow fadeInUp">Our Services</span>
                <h2 class="char-animation">Our Services Can Solve any<br> Marketing Problem</h2>
            </div>
            <div class="row g-5">
                <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                    <div class="service-icon-box-items-2">
                        <div class="icon">
                            <i class="flaticon-performance"></i>
                            <div class="icon-bg">
                                <img src="../../../assets/img/service/icon-bg-3.png" alt="img">
                            </div>
                        </div>
                        <div class="content">
                            <h3><a href="/webbuilding">Website Development</a></h3>
                            <p>
                                Your website is the digital face of your brand — and a powerful tool to attract customers, build trust, and drive business growth...
                            </p>
                            <a href="/webbuilding" class="link-btn">More Details
                                <i class="far fa-arrow-right"></i>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                    <div class="service-icon-box-items-2">
                        <div class="icon">
                            <i class="flaticon-performance"></i>
                            <div class="icon-bg">
                                <img src="../../../assets/img/service/icon-bg-7.png" alt="img">
                            </div>
                        </div>
                        <div class="content">
                            <h3><a href="/digitalmarketing">Digital Marketing</a></h3>
                            <p>
                                In today’s digital-first world, your online presence defines your business success. At Bhiive Digi Tech, a results-driven digital marketing agency...
                            </p>
                            <a href="/digitalmarketing" class="link-btn">More Details
                                <i class="far fa-arrow-right"></i>
                            </a>
                        </div>

                    </div>
                </div>
               
                 <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                    <div class="service-icon-box-items-2">
                        <div class="icon">
                            <i class="flaticon-email-marketing"></i>
                            <div class="icon-bg">
                                <img src="../../../assets/img/service/icon-bg-4.png" alt="img">
                            </div>
                        </div>
                        <div class="content">
                            <h3><a href="/paidmarketing">Paid  Marketing</a></h3>
                            <p>
                               In today's fast-paced digital market, waiting for customers to find you isn't an option. You need to reach them precisely when they are searching ...
                            </p>
                            <a href="/paidmarketing" class="link-btn">More Details
                                <i class="far fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                 <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                    <div class="service-icon-box-items-2">
                        <div class="icon">
                            <i class="flaticon-seo"></i>
                            <div class="icon-bg">
                                <img src="../../../assets/img/service/icon-bg-1.png" alt="img">
                            </div>
                        </div>
                        <div class="content">
                            <h3><a href="/brandbuilding">Brand Building</a></h3>
                            <p>
                                Your brand is the foundation of your business identity. At Bhiive Digi Tech, we offer comprehensive brand building services designed to strengthen...
                            </p>
                            <a href="/brandbuilding" class="link-btn">More Details
                                <i class="far fa-arrow-right"></i>
                            </a>
                        </div>

                    </div>
                </div>
                
                <!-- <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                    <div class="service-icon-box-items-2">
                        <div class="icon">
                            <i class="flaticon-email-marketing-1"></i>
                            <div class="icon-bg">
                                <img src="../../../assets/img/service/icon-bg-2.png" alt="img">
                            </div>
                        </div>
                        <div class="content">
                            <h3><a href="/seopage">Search Engine <br>Optimization</a></h3>
                            <p>
                                Our strategy includes consistently evolving, to ensure we’re producing exceptional SEO
                                for business. Nullam vel accumsan nisi.
                            </p>
                            <a href="/seopage" class="link-btn">More Details
                                <i class="far fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div> -->
                
               
                <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                    <div class="service-icon-box-items-2">
                        <div class="icon">
                            <i class="flaticon-seo"></i>
                            <div class="icon-bg">
                                <img src="../../../assets/img/service/icon-bg-5.png" alt="img">
                            </div>
                        </div>
                        <div class="content">
                            <h3><a href="/workflowautomation">Workflow  Automation</a></h3>
                            <p>
                                Manual tasks slow down growth. Inefficient processes lead to errors, delays, and lost revenue. At Bhiive Digi Tech, we help businesses streamline...
                            </p>
                            <a href="/workflowautomation" class="link-btn">More Details
                                <i class="far fa-arrow-right"></i>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                    <div class="service-icon-box-items-2">
                        <div class="icon">
                            <i class="flaticon-email-marketing-1"></i>
                            <div class="icon-bg">
                                <img src="../../../assets/img/service/icon-bg-6.png" alt="img">
                            </div>
                        </div>
                        <div class="content">
                            <h3><a href="/marketautomation">Marketing Engine</a></h3>
                            <p>
                                Modern businesses grow faster when their marketing runs smart, automated, and strategically optimized. At Bhiive Digi Tech, we provide powerful ...
                            </p>
                            <a href="/marketautomation" class="link-btn">More Details
                                <i class="far fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                
                <!-- <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                    <div class="service-icon-box-items-2">
                        <div class="icon">
                            <i class="flaticon-email-marketing"></i>
                            <div class="icon-bg">
                                <img src="../../../assets/img/service/icon-bg-8.png" alt="img">
                            </div>
                        </div>
                        <div class="content">
                            <h3><a href="/googleads">Google <br> and Meta Ads</a></h3>
                            <p>
                                Our strategy includes consistently evolving, to ensure we’re producing exceptional SEO
                                for business. Nullam vel accumsan nisi.
                            </p>
                            <a href="/googleads" class="link-btn">More Details
                                <i class="far fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
