
    <!-- Footer Section Start -->
    <section class="footer-section fix footer-bg" style="background-image: url('assets/img/footer/footer-bg-2.jpg');">
    <div class="container">
        <div class="footer-widget-wrapper">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                    <div class="single-footer-widget">
                        <div class="widget-head">
                            <a href="/">
                               <img src="assets/img/footer/Logo.png"
                                    alt="Bhiive Digi Tech – Digital Marketing Agency Chennai"
                                    class="img-fluid"
                                    width="160" height="48">
                            </a>
                        </div>
                        <div class="footer-content">
                            <p>
                               We'll transform your business into a thriving hive with our digital marketing expertise.
                            </p>
                            <div class="social-icon">
                                <a href="https://www.facebook.com/share/1APJ3Ujr7A/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                <a href="https://www.instagram.com/bhiivedigital?igsh=OTEzaXlvZGNpdnRx" target="_blank"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 ps-lg-5 wow fadeInUp" data-wow-delay=".4s">
                    <div class="single-footer-widget">
                        <div class="widget-head">
                            <h3>Quick Links</h3>
                        </div>
                        <ul class="list-area">
                            
                             <li class="mb-0">
                                        <a [routerLink]="'/web-development'">
                                            <span> Website Development </span>
                                        </a>
                                    </li>
                                    <li class="mb-0">
                                        <a [routerLink]="'/digital-marketing'">
                                            <span>Digital Marketing</span>
                                        </a>
                                    </li>
                                    <li class="mb-0">
                                        <a [routerLink]="'/paid-marketing'">
                                            <span> Paid Marketing </span>
                                        </a>
                                    </li>
                                      <li class="mb-0">
                                        <a [routerLink]="'/brand-building'">
                                            <span> Brand Building</span>
                                        </a>
                                    </li>
                                  
                                   
                                    <li class="mb-0">
                                        <a [routerLink]="'/workflow-automation'">
                                            <span>Workflow Automation</span>
                                        </a>
                                    </li>
                                    
                                    <li class="mb-0">
                                        <a [routerLink]="'/market-automation'">
                                            <span>Marketing Automation & Strategy</span>
                                        </a>
                                    </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 ps-lg-2 wow fadeInUp" data-wow-delay=".6s">
                    <div class="single-footer-widget">
                        <div class="widget-head">
                            <h3>Contact Us</h3>
                        </div>
                        <ul class="footer-contect">
                            <li>
                                <div class="icon">
                                    <i class="fas fa-phone-alt"></i>
                                </div>
                                <div class="content">
                                    <h5>Call Us</h5>
                                    <p><a href="tel:9445974970">+91-94459 74970</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="content">
                                    <h5>Mail Us</h5>
                                    <p><a href="mailto:info@bhiive.com" class="text-white">info&#64;bhiive.com</a></p>
                                </div>
                            </li>
                            <!-- <li>
                                <div class="icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="content">
                                    <h5>New York, USA</h5>
                                    <p class="text-white">27 Division 10002 Main road</p>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                    <div class="single-footer-widget">
                        <div class="widget-head">
                            <h3>Subscribe to Our Newsletter</h3>
                        </div>
                        <div class="footer-content">
                            <p>
                                Effective SEO strategies not only elevate a website's visibility but also drive traffic and conversions
                            </p>
                            <form action="#">
                                <div class="form-clt">
                                    <input type="text" name="name" id="email1" placeholder="Email Address">
                                </div>
                                <button type="submit" class="theme-btn w-100">
                                    Subscribe
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom fix">
        <div class="container">
            <div class="footer-wrapper d-flex align-items-center justify-content-between">
                <p class="wow fadeInLeft" data-wow-delay=".3s">
                    Copyright 2025. All Rights Reserved By Bhiive
                </p>
                <ul class="footer-menu wow fadeInRight" data-wow-delay=".5s">
                    <li>
                        <a routerLink="/privacy-policy">
                            Privacy policy.
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</section>

<!--Footer End-->