
    <!-- Contact Section Start -->
    <section class="contact-section section-padding bg-cover fix" style="background-image: url('assets/img/contact/01.jpg');">
        <div class="container">
            <div class="contect-wrapper">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="contact-content">
                            <div class="section-title mb-0">
                                <span class="wow fadeInUp">Contact Us</span>
                                <h2 class="char-animation">Let Us Take Your Product<br> To The Next Level</h2>
                            </div>
                             <form [formGroup]="form" (ngSubmit)="onSubmit()" id="contact-form" class="contact-form-box">
                    <div class="row g-4 align-items-center justify-content-center">
                        <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                            <div class="form-clt">
                                <input type="text" class="form-control" name="name" id="name" placeholder="Name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">
                                <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                    <div *ngIf="f['name'].errors['required']">Name is required</div>
                                    <div *ngIf="f['name'].errors['minlength']">
                                    Name must be at least 3 characters
                                    </div>
                                    <div *ngIf="f['name'].errors['maxlength']">
                                        Name must not exceed 20 characters
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".5s">
                            <div class="form-clt">
                                <input type="text" name="email" id="email" placeholder="Email address" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                                 <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                    <div *ngIf="f['email'].errors['required']">Email is required</div>
                                    <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 wow fadeInUp" data-wow-delay=".6s">
                            <div class="form-clt">
                                    <input type="text" name="phone" id="phone" placeholder="Phone number" formControlName="mobile" class="form-control" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': submitted && f['mobile'].errors }" maxlength="10">
                                <div *ngIf="submitted && f['mobile'].errors" class="invalid-feedback">
                                <div *ngIf="f['mobile'].errors['required']">Mobile No is required</div>
                                <div *ngIf="f['mobile'].errors['minlength']">
                                    Mobile No must be at least 10 characters
                                </div>
                                <div *ngIf="f['mobile'].errors['maxlength']">
                                    Mobile No must be at least 13 characters
                                </div>
                                </div>
                                </div>
                        </div>
                       
                        <div class="col-lg-12 wow fadeInUp" data-wow-delay=".8s">
                            <div class="form-clt">
                                <textarea formControlName="message" class="form-control"  width="100%"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12 wow fadeInUp" data-wow-delay=".9s">
                            <div class="contact-button">
                                <button type="submit" class="theme-btn">
                                    Request a Quote
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="contect-image float-bob-y wow fadeInUp" data-wow-delay=".3s">
                            <img src="assets/img/contact/02.png"
                                alt="Contact Bhiive digital marketing agency Chennai"
                                loading="lazy" decoding="async" width="540" height="500">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>